body{
    background-color: antiquewhite;
    width: auto;
    margin: auto;    
    border: 2px solid black;  
}
section{
    background-color: rgb(36, 127, 231);
    padding: 100px;
    width: auto;
margin: auto;
}
footer{

background-color: aqua;
width: auto;
padding: 50px;
margin: 0;

}
