body{
    background-color: antiquewhite;
}
section{
    background-color: rgb(36, 127, 231);
    padding: 100px;
   display: flex;
}
footer{

background-color: aqua;
    display: flex;
padding: 50px;

}
