body{
    background-color: antiquewhite;
    width: auto;
    margin: 0 auto;    
    padding: 20px 20px 20px 20px;
    border: 2px solid black;  
}
section{
    background-color: rgb(36, 127, 231);
    padding: 100px;
margin: auto;
}
footer{

background-color: aqua;
padding: 50px;
margin: auto;
}
